##########
# Compose
#########

# Project prefix for container resources.
export COMPOSE_PROJECT_NAME=ai

# Ignore orphans.
export COMPOSE_IGNORE_ORPHANS=True

##########
# LiteLLM
#########

# Default admin user credentials
export LITELLM_UI_USERNAME=admin
export LITELLM_UI_PASSWORD=admin

# Set the master key, also used by Open WebUI to connect.
export LITELLM_MASTER_KEY=dummy123

# Salt key, usually no need to change.
export LITELLM_SALT_KEY=errgvv23dvda

# Set the URL depending on where Ollama is running (e.g. macOS, Linux, Container).
export LITELLM_OLLAMA_API_BASE=http://ollama:11434

# Set a valid API key if you want to use OpenAI as LLM provider.
export LITELLM_OPENAI_API_KEY=dummy

############
# PostgreSQL
############

# Set a password for the shared DB user
export POSTGRES_PASSWORD=34fgtUgd